/* initial */

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'), local('OpenSansRegular'),
    url('../fonts/openSans/openSansRegular.woff2') format('woff2'),
    url('../fonts/openSans/openSansRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), local('OpenSansSemiBold'),
    url('../fonts/openSans/openSansSemiBold.woff2') format('woff2'),
    url('../fonts/openSans/openSansSemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), local('OpenSansBold'),
    url('../fonts/openSans/openSansBold.woff2') format('woff2'),
    url('../fonts/openSans/openSansBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --amethyst: #9D5CD0;
  --burntSienna: #F06A4D;
  --graySuit: #C8C5D1;
  --heliotrope: #9873FF;
  --mineShaft: #333;
  --royalPurple: #7943A4;
  --silver: #cacaca;
  --silverChalice: #B0B0B0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

th {
  text-align: start;
  vertical-align: bottom;
  padding: 0;
  font-weight: 400;
}

td {
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f5f5f5;
}

picture {
  line-height: 0;
}

select {
  cursor: pointer;
}

.container {
  min-width: 290px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.display-none {
  display: none;
}



/* header */

.header {
  padding: 30px 0;
  background-color: black;
}

.header__block {
  justify-content: space-between;
  align-items: center;
}

.header__list_nav {
  gap: 96px;
}

.header__item {
  display: contents;
}

.header__auth-info {
  position: relative;
  flex-direction: column;
  gap: 5px;
}

.header__interactive {
  position: relative;
  z-index: 0;
}

.header__interactive_search {
  margin-right: 60px;
}

.header__interactive::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background-color: var(--royalPurple);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.header__interactive svg path,
.header__interactive svg rect {
  transition: fill 0.3s linear;
}

.header__interactive:focus {
  outline: none;
}

.header__interactive:focus::before {
  opacity: 1;
}

.header__interactive:hover svg path,
.header__interactive:hover svg rect {
  fill: var(--heliotrope);
}

.header__interactive:hover::before {
  opacity: 0;
}

.header__interactive:active svg path,
.header__interactive:active svg rect {
  fill: #9D5CD0;
  transition: none;
}

.header__user {
  position: absolute;
  top: 45px;
  left: 50%;
  font-size: 13px;
  line-height: normal;
  color: var(--royalPurple);
  text-decoration-line: underline;
  transform: translateX(-50%);
}

.header__button {
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  color: white;
  transition: color 0.3s linear;
}

.header__button:focus {
  outline: none;
  color: var(--amethyst);
}

.header__button:hover {
  color: var(--heliotrope);
}

.header__button:active {
  color: var(--amethyst);
}

.header__list_user {
  position: relative;
  align-items: center;
  gap: 10px;
}

.header__auth {
  align-items: center;
  gap: 10px;
}

.header__button_auth {
  text-decoration-line: underline;
}

.header__button_auth_out {
  color: var(--burntSienna);
}

.header__button_auth_out:hover {
  color: red;
}



/* main */

/* general */

.section {
  padding-bottom: 30px;
}

.disabled-block {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interactive-button {
  position: relative;
  z-index: 0;
  display: inline-block;
  border-radius: 100px;
  padding: 23px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  background-color: var(--amethyst);
  color: white;
  transition: background-color 0.3s linear;
}

.interactive-button::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid var(--heliotrope);
  border-radius: 100px;
  opacity: 0;
  transition: border 0.3s linear, opacity 0.3s linear, top 0.3s linear, left 0.3s linear, right 0.3s linear,
  bottom 0.3s linear;
}

.interactive-button:focus {
  outline: none;
}

.interactive-button:focus::before,
.interactive-button:hover::before {
  opacity: 1;
}

.interactive-button:focus::before {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-width: 2px;
}

.interactive-button:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #D1A9F0;
}

.interactive-button:active {
  background-color: var(--royalPurple);
  transform: translate(0, 0.25em);
  transition: none;
}


/* hero */

.hero {
  padding: 146px 0;
  background: transparent url('../img/main/hero/castle.jpg') no-repeat center / cover;
}

.hero__block {
  max-width: 585px;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: normal;
  color: white;
}

.hero__paragraph {
  margin: 0;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  color: white;
}


/* post */

.post {
  padding-top: 50px;
}

.post__form {
  gap: 10px;
  margin-bottom: 30px;
}

.post__button {
  border-radius: 20px;
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
}

.post__inspector {
  max-width: 700px;
  max-height: 500px;
  padding: 5px;
  color: white;
  background-color: rgb(51, 51, 51);
  overflow: auto;
}

.post__status {
  color: red;
}

.post__data {
  color: rgb(162, 252, 162);
}


/* api-test */

.api-test {
  padding-bottom: 100px;
}

.api-test__list {
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.api-test__item {
  display: contents;
}

.api-test__button {
  border-radius: 100px;
  padding: 23px 35px;
  font-weight: 600;
  font-size: 15px;
  line-height: normal;
  background-color: var(--amethyst);
  color: white;
}


/* modal */

.decorator_modal {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  overflow: auto;
}

.modal {
  max-width: 450px;
  min-height: 215px;
  width: 450px;
  margin: 10px 0;
  padding: 15px 0 29px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.modal__head {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  padding-left: 30px;
  padding-right: 15px;
}

.modal__title {
  margin: 0;
  padding-top: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  color: var(--mineShaft);
}

.modal__button {
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  color: var(--mineShaft);
}

.modal__button_save {
  align-items: center;
  gap: 4px;
  padding: 13px 35px;
  background-color: var(--heliotrope);
  color: white;
}

.modal__button_cancel {
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: underline;
}

.modal__button_restore {
  font-weight: 600;
  font-size: 11px;
  color: var(--heliotrope);
  text-decoration-line: underline;
}

.modal__button_registration {
  font-size: 15px;
}

.modal__body_form {
  flex-direction: column;
}

.modal__foot {
  align-items: center;
  flex-direction: column;
  gap: 9px;
  padding-top: 25px;
}

.modal__foot_error {
  padding-top: 8px;
}

.modal__error {
  text-align: center;
  max-width: 255px;
  margin: 0;
  font-size: 10px;
  line-height: normal;
  color: var(--burntSienna);
}

.modal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal__list_auth {
  flex-direction: column;
  gap: 32px;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.modal__list_helpers {
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.modal__list_foot {
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.modal__item {
  display: contents;
}

.modal__label {
  position: relative;
}

.modal__label_auth::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: var(--graySuit);
}

.modal__input {
  width: 100%;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  color: var(--mineShaft);
}

.modal__input:focus {
  outline: none;
}

.modal__placeholder,
.modal__input::placeholder
{
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  cursor: text;
  color: var(--silverChalice);
}

.modal__input_auth {
  padding: 1px 1px 4px;
}

.modal_auth .modal__input_auth:focus::placeholder,
.modal_auth .modal__input_auth:focus + .modal__placeholder_auth,
.modal_auth .modal__input_auth:valid + .modal__placeholder_auth
{
  opacity: 0;
  pointer-events: none;
}

.modal__input_user {
  background-image: url('../img/modal/user.svg');
}

.modal__input_password {
  background-image: url('../img/modal/password.svg');
}

.modal__input_email {
  background-image: url('../img/modal/email.svg');
}

.modal__checkbox {
  position: absolute;
  appearance: none;
}

.modal__placeholder {
  position: absolute;
}

.modal__placeholder_auth {
  top: 0;
  left: 1px;
}

.modal__flag_required {
  font-weight: 600;
  color: var(--heliotrope);
}
